body {
    font-family: 'Raleway', sans-serif;
    color: #747704;
    background-color: lightgrey;
    margin:0;
}

.text-thin {
    font-weight:100;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

/* ---------------------------font writing --------------------------*/
.css-selector {
  font-family: 'Tillana', cursive;
}
.css-selector2 {
  font-family: 'Rubik', sans-serif;
}


/*-------------------x-------------------------------------------*/
.container {
    font-family:'Raleway', sans-serif;
    max-width : 900px;
    margin: 0 auto;
    color: grey;
padding-left:20px ;
padding-right:20px;
}

.site__title {
    color: #2484f2;
    background-image: -webkit-linear-gradient(92deg,#4045d1,#7f9bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  
  .type_color {
    color: #00b3f0;
    background-image: -webkit-linear-gradient(92deg,#00b3f0,#004ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  
/*------------------------------typed.js----------------------------------------*/  
  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#particles-js{ position: absolute;  width: 100%; height: 100%; background-color: #455A64 ; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 


