body {
    font-family: 'Raleway', sans-serif;
    color: #747704;
    background-color: lightgrey;
    margin-top: 75px;
}

.text-thin {
    font-weight:100;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

/* ---------------------------font writing --------------------------*/
.css-selector {
  font-family: 'Tillana', cursive;
}
.css-selector2 {
  font-family: 'Rubik', sans-serif;
}


/*-------------------x-------------------------------------------*/
.container {
    font-family:'Raleway', sans-serif;
    max-width : 900px;
    margin: 0 auto;
    color: grey;
padding-left:20px ;
padding-right:20px;
}

.site__title {
    color: #2484f2;
    background-image: -webkit-linear-gradient(92deg,#4045d1,#7f9bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  
  .type_color {
    color: #00b3f0;
    background-image: -webkit-linear-gradient(92deg,#00b3f0,#004ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
  }
  
/*------------------------------typed.js----------------------------------------*/  
  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*------------------------------------particle.js----------------------------------*/

 
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */
